[Unit]
Description=Run first-boot bootstrap and then exit
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/default/firstboot
ExecStart=/usr/local/bin/firstboot.sh "$ANSIBLE_REPO_URL" "$ANSIBLE_BRANCH" "$ANSIBLE_PLAYBOOK"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
